body {
  text-align: center;
  background-image: url('../public/stars.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position:fixed;
}

#main-page-h3 {
  font-size: 80px;
  color: white;
}

#ship-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  border: 2px solid black;
  width: 200px;
  height: 100px;
  background-color: darkslategray;
  color: white;
  font-size: 25px;
}

Link {
  text-decoration: none;
}

h4 {
  font-size: 60px;
  color: white;
}

#return-link {
  text-decoration: none;
  font-size: 40px;
  color: white;
}